<!DOCTYPE html>
<html>

<head>
    <title>{{ title_text }}</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'attendence/base.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'workflow/jqueryui/jquery-ui.min.css' %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/locales/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/confirm.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-confirm.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/jqExtend.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pager.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'workflow/jqueryui/jquery-ui.min.js' %}"></script>
    {% block head %} {% endblock %}
</head>

<body>
    <div class="container-fluid padding_0">
        <div class="row">
            <div class="col-md-12">
                <div id="header">
                    <span>Welcome to admin page!</span>
                </div>
            </div>
        </div>
        <div class="row main">
            <div class="col-md-2">
                <div class="panel-group" id="menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title" data-toggle="collapse" data-parent="#menu" href="#panel-element-I">工作流</a>
                        </div>
                        <div id="panel-element-I" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <a href="{% url 'workflow:start_process_index' %}">发起流程</a>
                            </div>
                            <div class="panel-body">
                                <a href="{% url 'workflow:define_process_index' %}">定义流程</a>
                            </div>
                            <div class="panel-body">
                                <a href="{% url 'workflow:category_process_index' %}">流程类别</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main page -->
            <div class="col-md-10" id="page">
                {% block page %} {% endblock %}
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-md-12">
                <span class="label label-default">This is footer</span>
            </div>
        </div>
    </div>
</body>

</html>