{% extends 'base.html' %} {% block page %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>SECTION TITLE</strong>
        </h3>
    </div>
    <div class="panel-body">
        -------------------------------------------------------------------------------------------------------- 
        this is the position of the content 
        --------------------------------------------------------------------------------------------------------
    </div>
</div>
{% endblock %}